.gz_list{overflow:hidden;}
.gz_list li{ width:46%; padding:16px 12px; float:left;border-bottom:1px dotted #CCC; overflow:hidden;}
.gz_list li:nth-child(odd){ float:left;}
.gz_list li:nth-child(even){ float:right;}
.gz_list li img{ display:block; width:76px; height:76px;float:left; margin-right:18px;}
.gz_info{ line-height:26px; font-size:13px;}
.gz_info a{font-size:14px;}
.gz_list li span{ display:block; font-size:14px;color: #7f7f7f;}
.gz_page{ width:100%; margin-top:22px; text-align:center;}